# Title
[]()

In [1]:
import pandas as pd
import sys
sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\custom_python")
from silvhua import *
import seaborn as sns
import matplotlib.pyplot as plt
from silvhua_plot import *
from PIL import Image
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import LassoCV
import re
sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\projects\lighthouse-capstone-project\src")
from processing_functions import *
from plot_functions import *
from capstone_modelling import *

In [2]:
path = r'C:\Users\silvh\OneDrive\lighthouse\projects\lighthouse-capstone-project\data'
df_fw = load_csv('data_freeweight_corrected.csv',path, column1_as_index=False)
df_sm = load_csv('data_sm.csv',path, column1_as_index=False)

Dataframe shape:  (52, 15)
Dataframe shape:  (52, 15)

# Feature engineering

In [32]:
loads = [20, 40, 60, 80, 90]
unique_load_pairs = create_pairs(loads)
unique_load_pairs.append([40, 60, 80])
unique_load_pairs.append([40, 60, 80, 90])
unique_load_pairs

Number of unique pairs: 10

[[20, 40],
 [20, 60],
 [20, 80],
 [20, 90],
 [40, 60],
 [40, 80],
 [40, 90],
 [60, 80],
 [60, 90],
 [80, 90],
 [40, 60, 80],
 [40, 60, 80, 90]]

In [23]:
model_names = []
for load_pair in unique_load_pairs:
    name = 'LV '+'-'.join([str(item) for item in load_pair])
    model_names.append(name)
model_names

['LV 20-40',
 'LV 20-60',
 'LV 20-80',
 'LV 20-90',
 'LV 40-60',
 'LV 40-80',
 'LV 40-90',
 'LV 60-80',
 'LV 60-90',
 'LV 80-90',
 'LV 40-60-80',
 'LV 40-60-80-90']

In [33]:
# Create dataframes with engineered features: FW
df_fw_dict = dict()
for index, model in enumerate(model_names):
    df_fw_dict[model] = individual_regression2(df_fw, unique_load_pairs[index])

df_fw_dict.keys()

Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)

dict_keys(['LV 20-40', 'LV 20-60', 'LV 20-80', 'LV 20-90', 'LV 40-60', 'LV 40-80', 'LV 40-90', 'LV 60-80', 'LV 60-90', 'LV 80-90', 'LV 40-60-80', 'LV 40-60-80-90'])

In [24]:
# Create dataframes with engineered features: SM
df_sm_dict = dict()
for model in model_names:
    df_sm_dict[model] = individual_regression2(df_sm, load_pair)
df_sm_dict.keys()

Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)
Dataframe shape:  (52, 18)

dict_keys(['LV 20-40', 'LV 20-60', 'LV 20-80', 'LV 20-90', 'LV 40-60', 'LV 40-80', 'LV 40-90', 'LV 60-80', 'LV 60-90', 'LV 80-90', 'LV 40-60-80', 'LV 40-60-80-90'])

## Make sure these values match what was calculated in iteration 2

In [36]:
df_fw_dict['LV 40-60'].tail(3)

,Age,Mass,Height,Load20%1RM,Load40%1RM,Load60%1RM,Load80%1RM,Load90%1RM,Load-1RM-1,20% MV,40%MV,60%MV,80%MV,90%MV,100%MV,slope,intercept,group MVT
49,23.0,74.4,181.0,27.0,54.0,81.0,108.0,121.0,135.0,1.09,0.92,0.71,0.49,0.39,0.28,-128.571429,172.285714,0.275192
50,19.0,83.7,184.4,30.0,60.0,90.0,120.0,135.0,150.0,1.08,0.99,0.73,0.48,0.42,0.26,-115.384615,174.230769,0.275192
51,20.0,80.7,182.0,35.5,71.0,106.0,141.5,159.5,177.0,1.08,0.85,0.69,0.47,0.41,0.26,-218.750000,256.937500,0.275192

In [37]:
df_fw_dict['LV 40-60-80-90'].head(3)

,Age,Mass,Height,Load20%1RM,Load40%1RM,Load60%1RM,Load80%1RM,Load90%1RM,Load-1RM-1,20% MV,40%MV,60%MV,80%MV,90%MV,100%MV,slope,intercept,group MVT
0,22.0,77.8,175.0,39.0,78.0,114.0,156.0,175.0,190.0,1.05,0.91,0.76,0.52,0.39,0.26,-184.917733,250.021938,0.275192
1,21.0,71.6,179.0,24.0,48.0,72.0,96.0,108.0,120.0,1.03,0.91,0.68,0.49,0.39,0.27,-116.018416,152.641372,0.275192
2,19.0,60.8,165.0,26.0,52.0,78.0,104.0,117.0,130.0,1.06,0.92,0.76,0.51,0.37,0.26,-116.046002,162.019441,0.275192

# Train test split
2022-12-01 18:42: After talking to mentor, decided to avoid train-test split and just use cross-validation due to small sample size

In [3]:
# Function
def sorted_test_split2(df_fw, df_sm, start, step):
    """
    Sort participants by free weight squat 1RM, then perform train-test split so 
    train and test groups have similar free weight 1RM values.

        Parameters:
            - df_fw: Dataframe containing free weight data set.
            - df_sm: DataFrame containing smith machine data set.
        Returns:
            - fw_train, fw_test, sm_train, sm_test : 4 dataframes containing train and test sets.
        
        Syntax:
        fw_train, fw_test, sm_train, sm_test = sorted_test_split(df_fw, df_sm)
    """
    test_sorted_df_implicit_index = [i for i in range(start,len(df_sm),step)]
    print(f'Original df shapes: {df_fw.shape}, {df_sm.shape}')
    fw_test = df_fw.sort_values('Load-1RM-1').iloc[test_sorted_df_implicit_index, :]
    test_exp_index = fw_test.index
    train_index = df_fw.index[~df_fw.index.isin(test_exp_index)]
    fw_train = df_fw.loc[train_index, :]
    
    # ensure train-test split has same participants for smith machine data as in free weight data
    sm_test = df_sm.loc[test_exp_index, :] 
    sm_train = df_sm.loc[train_index, :]
    print(f'Test index: {test_exp_index.to_list()}')
    print(f'Train index: {train_index.to_list()}')
    print(f'Train shapes: {fw_train.shape}, {sm_train.shape}')
    print(f'Test shapes: {fw_test.shape}, {sm_test.shape}')
    print(f'Mean FW squat 1RM in train sample: {fw_train["Load-1RM-1"].mean():.2f}')
    print(f'Mean FW squat 1RM in test sample: {fw_test["Load-1RM-1"].mean():.2f}')
    return fw_train, fw_test, sm_train, sm_test

# test the function
start= 5
step = 7
fw_train, fw_test, sm_train, sm_test = sorted_test_split2(df_fw, df_sm, start, step)

Original df shapes: (52, 15), (52, 15)
Test index: [31, 34, 7, 25, 10, 27, 37]
Train index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Train shapes: (45, 15), (45, 15)
Test shapes: (7, 15), (7, 15)
Mean FW squat 1RM in train sample: 136.27
Mean FW squat 1RM in test sample: 136.36

In [39]:
start= 5
step = 7
df_fw_train_dict = dict()
df_fw_test_dict = dict()
df_sm_train_dict = dict()
df_sm_test_dict = dict()
for model in model_names:
    df_fw_train_dict[model], df_fw_test_dict[model], df_sm_train_dict[model], df_sm_test_dict[model] = sorted_test_split2(
        df_fw_dict[model], df_sm_dict[model], start, step)

Original df shapes: (52, 18), (52, 18)
Test index: [31, 34, 7, 25, 10, 27, 37]
Train index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Train shapes: (45, 18), (45, 18)
Test shapes: (7, 18), (7, 18)
Mean FW squat 1RM in train sample: 136.27
Mean FW squat 1RM in test sample: 136.36
Original df shapes: (52, 18), (52, 18)
Test index: [31, 34, 7, 25, 10, 27, 37]
Train index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Train shapes: (45, 18), (45, 18)
Test shapes: (7, 18), (7, 18)
Mean FW squat 1RM in train sample: 136.27
Mean FW squat 1RM in test sample: 136.36
Original df shapes: (52, 18), (52, 18)
Test index: [31, 34, 7, 25, 10, 27, 37]
Train index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Train shapes: (45, 18), (45, 18)
Test shapes: (7, 18), (7, 18)
Mean FW squat 1RM in train sample: 136.27
Mean FW squat 1RM in test sample: 136.36
Original df shapes: (52, 18), (52, 18)
Test index: [31, 34, 7, 25, 10, 27, 37]
Train index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Train shapes: (45, 18), (45, 18)
Test shapes: (7, 18), (7, 18)
Mean FW squat 1RM in train sample: 136.27
Mean FW squat 1RM in test sample: 136.36
Original df shapes: (52, 18), (52, 18)
Test index: [31, 34, 7, 25, 10, 27, 37]
Train index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Train shapes: (45, 18), (45, 18)
Test shapes: (7, 18), (7, 18)
Mean FW squat 1RM in train sample: 136.27
Mean FW squat 1RM in test sample: 136.36
Original df shapes: (52, 18), (52, 18)
Test index: [31, 34, 7, 25, 10, 27, 37]
Train index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Train shapes: (45, 18), (45, 18)
Test shapes: (7, 18), (7, 18)
Mean FW squat 1RM in train sample: 136.27
Mean FW squat 1RM in test sample: 136.36
Original df shapes: (52, 18), (52, 18)
Test index: [31, 34, 7, 25, 10, 27, 37]
Train index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Train shapes: (45, 18), (45, 18)
Test shapes: (7, 18), (7, 18)
Mean FW squat 1RM in train sample: 136.27
Mean FW squat 1RM in test sample: 136.36
Original df shapes: (52, 18), (52, 18)
Test index: [31, 34, 7, 25, 10, 27, 37]
Train index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Train shapes: (45, 18), (45, 18)
Test shapes: (7, 18), (7, 18)
Mean FW squat 1RM in train sample: 136.27
Mean FW squat 1RM in test sample: 136.36
Original df shapes: (52, 18), (52, 18)
Test index: [31, 34, 7, 25, 10, 27, 37]
Train index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Train shapes: (45, 18), (45, 18)
Test shapes: (7, 18), (7, 18)
Mean FW squat 1RM in train sample: 136.27
Mean FW squat 1RM in test sample: 136.36
Original df shapes: (52, 18), (52, 18)
Test index: [31, 34, 7, 25, 10, 27, 37]
Train index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Train shapes: (45, 18), (45, 18)
Test shapes: (7, 18), (7, 18)
Mean FW squat 1RM in train sample: 136.27
Mean FW squat 1RM in test sample: 136.36
Original df shapes: (52, 18), (52, 18)
Test index: [31, 34, 7, 25, 10, 27, 37]
Train index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Train shapes: (45, 18), (45, 18)
Test shapes: (7, 18), (7, 18)
Mean FW squat 1RM in train sample: 136.27
Mean FW squat 1RM in test sample: 136.36
Original df shapes: (52, 18), (52, 18)
Test index: [31, 34, 7, 25, 10, 27, 37]
Train index: [0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Train shapes: (45, 18), (45, 18)
Test shapes: (7, 18), (7, 18)
Mean FW squat 1RM in train sample: 136.27
Mean FW squat 1RM in test sample: 136.36

In [43]:
df_fw_test_dict['LV 40-60-80-90'].head(3)

,Age,Mass,Height,Load20%1RM,Load40%1RM,Load60%1RM,Load80%1RM,Load90%1RM,Load-1RM-1,20% MV,40%MV,60%MV,80%MV,90%MV,100%MV,slope,intercept,group MVT
31,18.0,60.7,173.0,20.0,40.0,60.0,80.0,90.0,100.0,1.04,0.86,0.71,0.52,0.38,0.25,-104.483211,132.018383,0.275192
34,23.0,63.4,174.0,24.0,48.0,72.0,96.0,108.0,120.0,0.94,0.87,0.69,0.48,0.39,0.29,-123.424879,155.980614,0.275192
7,23.0,83.4,182.0,25.5,51.0,76.5,102.0,115.0,127.5,1.11,0.85,0.68,0.49,0.40,0.28,-141.211745,171.558106,0.275192

# Model evaluation functions

In [98]:
from sklearn.model_selection import cross_validate
def evaluate_with_cv(df, x_columns, model, model_name='regressor'):
    """
    Model, fit, and evaluate machine learning model compared with statistical linear regression.

    """

    X = df[x_columns]
    y = df['Load-1RM-1']
    cv_results = cross_validate(model, X, y, cv=10,
        scoring=['r2', 'neg_mean_absolute_error']
        )
    scores = dict()
    scores['mae']= abs(cv_results['test_neg_mean_absolute_error'].mean())
    scores['r^2'] = cv_results['test_r2'].mean()
    
    return scores

In [74]:
def plot_residuals(df, predictions, title='Model'):
    sns.reset_defaults()
    %matplotlib inline
    fig, ax = plt.subplots(nrows=1, ncols=1, figsize=(4, 3))
    sns.scatterplot(y=predictions-df['Load-1RM-1'], 
        x=df['Load-1RM-1'], alpha=0.7,
        ax=ax).axhline(y=0, ls=':')
    ax.set_title(f'{title} regression residuals')

    return ax

# # Plot residuals
residuals_plot[model] = plot_residuals(df, predictions, title='Model')

# Statistical testing functions

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.mstats.ttest_ind.html

In [48]:
import scipy.stats as st

def compare_means(d1, d2, type='paired'):
    """
    Perform 2-sample t-tests and calculate Cohen's d effect size between two samples.
    """
    stats = pd.Series(dtype='float64')
    # calculate the size of samples
    n1, n2 = len(d1), len(d2)
    # calculate the variance of the samples
    s1, s2 = np.var(d1, ddof=1), np.var(d2, ddof=1)
    if type=='paired': 
        # Calculate standard deviation of first sample
        s = np.sqrt(s1)
        # Calculate t-test
        stats['t statistic'], stats['ttest pvalue'] = st.ttest_rel(d1, d2)
    else:
        # calculate the pooled standard deviation
        s = np.sqrt(((n1 - 1) * s1 + (n2 - 1) * s2) / (n1 + n2 - 2))
        # Calculate t-test
        stats['t statistic'], stats['ttest pvalue'] = st.ttest_ind(d1, d2)
    # calculate the means of the samples
    u1, u2 = np.mean(d1), np.mean(d2)
    # calculate the effect size
    stats['Cohens d'] = round(((u2 - u1) / s), 2)
    return stats

# Modelling
* Free weight models are the same as in iteration 2 (originally I was going to use train-test split, but then changed my plan after talking with a mentor)

In [103]:
predictions = pd.DataFrame()
coefficients = pd.DataFrame()
cv_metrics = pd.DataFrame()
stats = pd.DataFrame()
model_dict = dict()
eval_fig = dict()

def batch_model(model_names, df_dict, x_columns=['slope', 'intercept'], pickle_name=None,
    path=r'C:\Users\silvh\OneDrive\lighthouse\projects\lighthouse-capstone-project\output'):
    # Initialize dataframes for storing model outputs
    predictions = pd.DataFrame()
    coefficients = pd.DataFrame()
    cv_metrics = pd.DataFrame()
    stats = pd.DataFrame()
    model_dict = dict()
    eval_fig = dict()

    for model in model_names:
        # Run model
        model_dict[model] = LinearRegression()
        predictions[model], eval_fig[model], coefficients[model] = model_data_vs_stat(
            df_dict[model], x_columns, model=model_dict[model], model_name=model
        )
        # cross-validation metrics
        cv_metrics[model] = evaluate_with_cv(df_dict[model], x_columns, 
            model=model_dict[model], model_name=model)

        # ttest and Cohen's d effect size
        stats[model] = compare_means(
                df_dict[model]['Load-1RM-1'], # True y value
                predictions[model], type='paired') # Model predicts

        # Concatenate
        metrics = pd.concat([cv_metrics, 
            stats, 
            coefficients
            ], axis=0)
        metrics = round(metrics, 4)
        # pickle the model
        if pickle_name:
            savepickle(model_dict[model], f'{pickle_name} {model}', path=path+'\models')
        
    # save predictions and metrics
    if pickle_name:
        save_csv(predictions, f'{pickle_name} predictions', path=path+'\predictions')
        save_csv(metrics, f'{pickle_name} metrics and coefficients', path=path+'\models')

    return predictions, metrics, model_dict

In [ ]:
# linear regression on free weight data
predictions, metrics, model_dict = batch_model(model_names, df_fw_dict, pickle_name='03 iteration')

In [100]:
metrics

,LV 20-40,LV 20-60,LV 20-80,LV 20-90,LV 40-60,LV 40-80,LV 40-90,LV 60-80,LV 60-90,LV 80-90,LV 40-60-80,LV 40-60-80-90
mae,10.8950,7.4328,3.3470,3.6524,7.0404,3.0367,3.5909,3.1772,3.4033,3.0681,3.4463,3.0105
r^2,0.5862,0.8249,0.9690,0.9413,0.8463,0.9733,0.9538,0.9726,0.9567,0.9647,0.9700,0.9703
t statistic,-0.0000,-0.0000,-0.0000,-0.0000,0.0000,0.0000,-0.0000,0.0000,-0.0000,0.0000,0.0000,0.0000
ttest pvalue,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
Cohens d,0.0000,0.0000,0.0000,0.0000,-0.0000,-0.0000,0.0000,-0.0000,0.0000,-0.0000,0.0000,-0.0000
LV slope,1.4573,1.1425,0.6854,0.4016,1.1366,0.7261,0.6652,0.6498,0.5898,0.5347,0.6757,0.6380
LV intercept,1.6058,1.5131,1.2708,1.0250,1.5124,1.2984,1.2277,1.2420,1.1791,1.1487,1.2618,1.2245
model intercept,47.6743,21.0849,4.5165,9.3421,19.9359,4.7929,9.2577,4.3250,7.1115,5.6229,3.9407,5.8294

# *End of Page*